.compborder{
	border: 4px solid #f7f7fa;
	border-radius: 6px;
	background: #ffffff;
	padding: 15px;
	
}
h2{
	display: inline-block;
}
.space{
	margin-left: 20px;
	border: 4px solid #f7f7fa;
	padding: 10px;
}
.compborder ul li{
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 15px;

}
.compoicon{
	font-size: 45px;
	color:#000000;
}
.compborder li a{
	font-size: 18px;
	color:#000000;
}

.searchdetail{
    display: inline-flex;
    margin-top: 10px;
}

.containersearch{
	margin-left: 13px;
	position: relative;
	
	 }
	 .round {
	   // width: 100%;
	   border-radius: 4px;
	   border: 2px #000 solid;
	   padding: 5px 5px 5px 50px;
	   position: absolute;
	   top: 0;
	   left: 0;
	   z-index: 5;
   }
	 .containersearch .icon{
	   position: absolute;
	   z-index: 6;
	   font-size: 20px;
	   margin-left: 10px;
	 } 
	 	
	a.disabled {
		/* Make the disabled links grayish*/
		color: gray;
		pointer-events: none;
	}
