*{
    padding: 0;
}
.sidebg{
    background:#2e3035;
    padding-top:50px;
    text-align: center; 
    margin-left: 0px;
}
.sidebg ul li{
    list-style: none;
    padding:5px;
    // text-align: center;
   }
.anchortext{
    color:#ffffff;
    font-size: 15px; 
    text-decoration:none; 
    margin-left: 10px;
}

.iconcenter{
    text-align: center;
    font-size: 45px;
    color:#ffffff;
    margin-left:20px;
    margin-right:20px;       
 }

